upstream DOMAIN-upstream {
#Add new host here
	server localhost:81;
}

#redirect placeholder

server{
    listen 	80;
    server_name DOMAIN;
    client_max_body_size 1G;

    location / {
	proxy_pass http://DOMAIN-upstream/;
	proxy_set_header   X-Real-IP $remote_addr;
	proxy_set_header   Host $http_host;
	proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    }
}
