Source: subutai-agent
Section: utils
Priority: optional
Maintainer: Lars Boegild Thomsen <lbthomsen@optdyn.com>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 4.1.3
Homepage: http://github.com/subutai-io/agent
XS-Go-Import-Path: github.com/subutai-io/agent

Package: subutai
Architecture: any
Depends: gnupg1 | gnupg (<< 2.0.0~),
         lxc (>= 3.0.0),
         nsexec,
         rng-tools,
         subutai-nginx,
         subutai-ovs,
         subutai-p2p,
         zfsutils-linux,
         certbot,
         ${misc:Depends},
         ${shlibs:Depends}
Conflicts: uidmap
Description: subutai agent
 project allows to turn a host into subutai peer and is used together with subutai console
