#!/usr/bin/make -f
include /usr/share/dpkg/default.mk

BUILDER    := $(shell sed -ne 's,^Maintainer: .[^<]*<\([^>]*\)>,\1,p' debian/control)
#BUILDPKG   := github.com/subutai-io/agent
BUILDPKG   := main
VERSION    := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p')
BUILDID    := to-be-generated
LOG_LEVEL  := INFO
BUILDFLAGS := -ldflags\
   "-X $(BUILDPKG).version=$(VERSION)\
   -X $(BUILDPKG).BuildID=$(BUILDID)\
   -X $(BUILDPKG).DefaultLog=$(LOG_LEVEL)"

%:
	dh $@ --buildsystem=golang --with=golang --with-systemd

override_dh_auto_build:
	dh_auto_build -- $(BUILDFLAGS)

override_dh_auto_install:
	dh_auto_install -- --no-source
	mv debian/subutai/usr/bin/agent debian/subutai/usr/bin/subutai
	mkdir -p debian/subutai/etc/subutai/
	mkdir -p debian/subutai/var/lib/subutai/
	mkdir -p debian/subutai/usr/lib/subutai/libexec
	mkdir -p debian/subutai/lib/systemd/system
	cp debian/tree/agent.conf debian/subutai/etc/subutai/
	cp debian/tree/ssh.pem debian/subutai/var/lib/subutai/
	cp debian/tree/libexec/* debian/subutai/usr/lib/subutai/libexec/
	cp debian/subutai-*.service debian/subutai/lib/systemd/system/
