[Unit]
Description=Subutai Roaming Service
Requires=subutai-ovs.service

[Service]
Type=simple
ExecStart=/usr/lib/subutai/libexec/roaming
OnFailure=subutai-cop.service

[Install]
WantedBy=multi-user.target
