[Unit]
Description=nginx instance for subutai
Documentation=man:nginx(8)
After=network-online.target
Before=subutai.service

[Service]
Type=forking
PIDFile=/run/subutai-nginx.pid
ExecStartPre=/usr/sbin/nginx -c /etc/subutai/nginx/nginx.conf -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/nginx -c /etc/subutai/nginx/nginx.conf -g 'daemon on; master_process on;'
ExecReload=/usr/sbin/nginx -c /etc/subutai/nginx/nginx.conf -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/subutai-nginx.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
