[Unit]
Description=Subutai RNG Startup
After=rng-tools.service

[Service]
Type=forking
ExecStart=/bin/bash -c "/bin/systemctl is-active --quiet rng-tools.service || /usr/sbin/rngd -r /dev/urandom"
Restart=always
OnFailure=subutai-cop.service

[Install]
WantedBy=multi-user.target
Alias=subutai-rng.service
