[Unit]
Description=Subutai Daemon
Requires=cgmanager.service

[Service]
Type=simple
ExecStart=/usr/bin/subutai daemon
KillMode=process
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
Alias=subutai-agent.service
